body {
    background-color: #2b2b2b;
    margin: 0;
}

#div-borda-0 {
    border: 2px solid;
    border-color: white;
    border-radius: 15px;
    padding: 5px;
    width: 400px;
    margin-top: -400px;
    margin-left: 50px;
    height: 150px;
    position: absolute;
}

#div-borda-1 {
    border: 2px solid;
    border-color: white;
    border-radius: 15px;
    padding: 5px;
    width: 400px;
    margin-top: -400px;
    margin-left: 500px;
    height: 150px;
    justify-content: space-around;

}#div-borda-2 {
    border: 2px solid;
    border-color: white;
    border-radius: 15px;
    padding: 5px;
    width: 400px;
    margin-top: 30px;
    margin-left: 50px;
    height: 150px;
    justify-content: space-around;
    position: absolute;
}

h1 {
    color: white;
    font-size: 45px;
    margin-top: 30px;
    margin-left: 100px;
}

h2 {
    margin-left: 400px;
    margin-top: -40px;
    font-size: 60px;
    color: #0fb3ff;
}

h3 {
    color: white;
    font-size: 40px;
    margin-top: -450px;
    margin-left: 400px;
}

h4 {
    color: white;
    font-size: 35px;
    margin-left: 900px;
    margin-top: -50px;
}

h5 {
    color: white;
    font-size: 20px;
    margin-top: -80px;
    margin-left: 130px;
}

h6 {
    color: white;
    margin-top: 0;
    margin-left: 665px;
    cursor: default;
}

ul {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

li {
    list-style: none;
    margin-top: -60px;
}

a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
}

a:hover {
    transition: 0.3s all;
    text-decoration: underline;
    color: #0fb3ff;
}

.navegacao {
    background-color: #080808;
    margin-top: -50px;
    width: 1900px;
}

.logotipo {
    width: 50px;
    margin-top: 70px;
    margin-left: 50px;
    position: relative;
}

.mario {
    margin-top: -20px;
    width: 1902px;
    height: 700px;
    opacity: 30%;
    display: flex;
}

.titulo-home {
    position: absolute;
}

#informacoes {
    background-color: rgb(54, 49, 49);
    height: 500px;
    margin-top: -30px;
    width: 1900px;
}

#musk {
    margin-top: 30px;
    margin-left: 540px;
    border-radius: 15px;
    width: 300px;
}

#controle {
    width: 50px;
    margin-left: 101%;
    margin-top: -140px;
    position: absolute;
}

.ragnarok {
    width: 100px;
    margin-top: 25px;
}

#text {
    cursor: pointer;
}

#text:hover {
    color: #0fb3ff;
}

#fale-conosco {
    height: 1000px;
}

#globe {
    color: white;
    font-size: 20px;
    margin-top: -40px;
    margin-left: 130px;
}